<div class="row" id="pin_show">
  <div class="col-md-8 offset-md-2">
    <div class="card-group">
      <div class="card">
        <div id="pin_image">
          <%= image_tag @pin.image.url(:medium), class: "card-image-top" %>
        </div>
        <div class="card-block">
          <h4 class="card-title"><%= @pin.title %></h4>
          <%= @pin.description %>
        </div>
        <div class="card-footer">
          <small class="text-muted">Submitted by <%= @pin.user.email %></small>
          <div class="btn-group float-right">
            <%= link_to vote_for_pin_path(@pin), method: :patch, class: 'btn btn-secondary' do %>
            <%=   fa_icon 'heart' %><%= @pin.votes_for.size %>
            <% end %>
            <%= link_to 'Edit', edit_pin_path(@pin), class: 'btn btn-secondary' %>
            <%= link_to 'Destroy', pin_path(@pin), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-secondary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
