<h2>
  <a href="<%= @link.url %>"><%= @link.title %></a><br>
  <small class="text-muted">Submitted by <%= @link.user.email %></small>
</h2>
<hr class="my-4">
<div class="btn-group">
	<%= link_to 'Visit URL', @link.url, class: "btn btn-primary" %>
</div>

<% if @link.user = current_user %>
<div class="btn-group" role="group">
  <%= link_to 'Edit', edit_link_path(@link), class: "btn btn-secondary" %>
  <%= link_to 'Destroy', @link, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-secondary" %>
</div>
<% end %>

<div class="btn-group float-right">
<%= link_to like_link_path(@link), method: :put, class: "btn btn-secondary btn-sm" do %>
<%= fa_icon "caret-up" %>
Upvote
<%= @link.get_upvotes.size %>
<% end %>
<%= link_to dislike_link_path(@link), method: :put, class: "btn btn-secondary btn-sm" do %>
<%= fa_icon "caret-down" %>
Downvote
<%= @link.get_downvotes.size %>
<% end %>
</div>
