<!DOCTYPE html>
<html>
  <head>
    <title>PinterestClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <div class="container">
      <%= render 'shared/messages' %>
      <%= yield %>
    </div>
    <div class="container"></div>
    <div class="container"></div>
  </body>
</html>
